.form-control:focus {
    box-shadow: none;
    box-shadow: 0 0 3px 1px gray;
    border: none;
}

#search::placeholder {
    color: gray;
}

#search+i {
    left: 20px;
    opacity: .7
}

#search+i:hover {
    cursor: text;
}
